* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    background: rgb(41, 39, 39);
} */

:root {
    --laranja: rgb(250, 119, 25);
    --branco: #fff;
}

h1, h2, p {
    text-align: center;
}

.img-carro {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80vw;
    height: 50vh;
    border: transparent 1px;
    background: linear-gradient(150deg, var(--laranja), var(--branco));
    border-radius: 10px;
}

.button-ar {
    justify-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    cursor: pointer;
}